altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
click==8.3.1
colorama==0.4.6
cryptography==46.0.5
duckdb==1.4.4
et_xmlfile==2.0.0
fastapi==0.135.1
great_expectations==1.14.0
h11==0.16.0
idna==3.11
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
marshmallow==3.26.2
mistune==3.2.0
narwhals==2.17.0
numpy==2.4.3
openpyxl==3.1.5
packaging==26.0
pandas==3.0.1
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-multipart==0.0.22
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
ruamel.yaml==0.19.1
scipy==1.17.1
six==1.17.0
starlette==0.52.1
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.41.0
